## União Europeia



    A União Europeia foi formada, em 1992, por meio do Tratado de Maastricht, acordo político-econômico assinado por 12 países europeus, buscando garantir a livre circulação de pessoas, mercadorias e serviços entre os países-membros, além de promover a adoção de uma moeda comum (Euro). Dessa maneira, o critério de de criaçao do bloco foi por proximidade geográfica, como evidente pelo próprio nome (União EUROPÉIA).

    Seu início veio com a criação da Comunidade Europeia do Carvão e Aço (Bélgica, Luxemburgo, Países Baixos, França, Itália e Alemanha), mais uma vez mostrando um grande foco econômico do bloco. A Europa dos Doze se formou em 1986, com a entrada de Portugal após o Reino Unido, Irlanda, Dinamarca, Grécia e Espanha aderirem ao tratado anos antes. 

    Atualmente, seus membros são: Alemanha, Áustria, Bélgica, Bulgária, Chéquia, Chipre, Croácia, Dinamarca, Eslováquia, Eslovénia,Espanha, Estónia, Finlândia, França, Grécia, Hungria, Irlanda, Itália, Letónia, Lituânia, Luxemburgo, Malta, Países Baixos, Polónia, Portugal, Roménia, Suécia.


###### fontes: 
###### - https://european-union.europa.eu/easy-read_pt
###### - https://mundoeducacao.uol.com.br/geografia/uniao-europeia.htm
###### - https://mundoeducacao.uol.com.br/historiageral/tratado-de-maastricht.htm

## BRICS

    BRIC, sigla de 'Brazil, Russia, India & China', foi um conceito criado pelo economista-chefe da Goldman-Sachs, Jim O'Neil. A união veio a partir de uma análise dos métodos econômico-financeiros, empresariais, acadêmicos e de comunicação dos países mencionados. 

    O peso econômico do bloco é a principal atração. Entre 2003 e 2007, o crescimento dos quatro países representou 65% da expansão do PIB mundial. Em 2010, o PIB conjunto dos cinco países (incluindo a África do Sul), totalizou US$ 11 trilhões, ou 18% da economia mundial. O bloco representa, de certa maneira, os países em mais rápida ascensão econômica. 

    Em 2011 a África do Sul passou a fazer parte do bloco, como outro potência emergente. Assim, BRIC virou BRICS ('Brazil, Russia, India, China & South Africa').

    Os objetivos do bloco giram em torno da economia, segurança e cooperação. Em relação a economia, criaram o Novo Banco de Desenvolvimento do BRICS (NDB). Em relação a segurança, os países buscam tomar medidas contra os crimes transnacionais. Por fim, o BRICS tem ainda como objetivo estabelecer cooperação nas áreas técnica, científica, cultural e no setor acadêmico, aumentando ainda mais a evolução dos países envolvidos. 

###### fontes: 
###### - https://investidorsardinha.r7.com/aprender/o-que-e-brics/
###### - https://www.ipea.gov.br/forumbrics/pt-BR/conheca-os-brics.html

In [49]:
import pandas as pd

# Path of the file to read
df = pd.read_csv('data_blocos/dados.csv')


# drop coluns
df.drop(['Series Code', 'Series Name', 'Country Code'], axis=1, inplace=True)

In [50]:
df.dtypes

Country Name     object
1990 [YR1990]    object
2000 [YR2000]    object
2011 [YR2011]    object
2012 [YR2012]    object
2013 [YR2013]    object
2014 [YR2014]    object
2015 [YR2015]    object
2016 [YR2016]    object
2017 [YR2017]    object
2018 [YR2018]    object
2019 [YR2019]    object
2020 [YR2020]    object
dtype: object

In [51]:
df.set_index('Country Name', inplace=True)
df = df.T
df.head()

Country Name,Arab World,Caribbean small states,Central Europe and the Baltics,Early-demographic dividend,East Asia & Pacific,East Asia & Pacific (excluding high income),East Asia & Pacific (IDA & IBRD),Euro area,Europe & Central Asia,Europe & Central Asia (excluding high income),...,Virgin Islands (U.S.),West Bank and Gaza,"Yemen, Rep.",Zambia,Zimbabwe,NaN,NaN,NaN,NaN,NaN
1990 [YR1990],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2000 [YR2000],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2011 [YR2011],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2012 [YR2012],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2013 [YR2013],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN

In [52]:
df.loc['2019 [YR2019]']["World"]

'27.6'

In [53]:
df.loc['2019 [YR2019]']["Germany"]

print(
    f'''
    Germany: {df.loc['2019 [YR2019]']["Germany"]}
    Austria: {df.loc['2019 [YR2019]']["Austria"]}
    Belgium: {df.loc['2019 [YR2019]']["Belgium"]}
    Bulgaria: {df.loc['2019 [YR2019]']["Bulgaria"]}
    Czech Republic: {df.loc['2019 [YR2019]']["Czech Republic"]}
    Cyprus: {df.loc['2019 [YR2019]']["Cyprus"]}
    Croatia: {df.loc['2019 [YR2019]']["Croatia"]}
    Denmark: {df.loc['2019 [YR2019]']["Denmark"]}
    Slovak Republic: {df.loc['2019 [YR2019]']["Slovak Republic"]}
    Slovenia: {df.loc['2019 [YR2019]']["Slovenia"]}
    Spain: {df.loc['2019 [YR2019]']["Spain"]}
    Estonia: {df.loc['2019 [YR2019]']["Estonia"]}
    Finland: {df.loc['2019 [YR2019]']["Finland"]}
    France: {df.loc['2019 [YR2019]']["France"]}
    Greece: {df.loc['2019 [YR2019]']["Greece"]}
    Hungary: {df.loc['2019 [YR2019]']["Hungary"]}
    Ireland: {df.loc['2019 [YR2019]']["Ireland"]}
    Italy: {df.loc['2019 [YR2019]']["Italy"]}
    Latvia: {df.loc['2019 [YR2019]']["Latvia"]}
    Lithuania: {df.loc['2019 [YR2019]']["Lithuania"]}
    Luxembourg: {df.loc['2019 [YR2019]']["Luxembourg"]}
    Malta: {df.loc['2019 [YR2019]']["Malta"]}
    Netherlands: {df.loc['2019 [YR2019]']["Netherlands"]}
    Poland: {df.loc['2019 [YR2019]']["Poland"]}
    Portugal: {df.loc['2019 [YR2019]']["Portugal"]}
    Romania: {df.loc['2019 [YR2019]']["Romania"]}
    Sweden: {df.loc['2019 [YR2019]']["Sweden"]}
    '''
)

    Germany: 3.4
    Austria: 3
    Belgium: 3.7
    Bulgaria: 13.2
    Czech Republic: 4.2
    Cyprus: ..
    Croatia: 11
    Denmark: 5
    Slovak Republic: 6
    Slovenia: 8.2
    Spain: 8.8
    Estonia: 7.9
    Finland: 8
    France: 5.8
    Greece: 8.6
    Hungary: 8.6
    Ireland: 8.3
    Italy: 6.7
    Latvia: 10.2
    Lithuania: 11.3
    Luxembourg: 3.1
    Malta: 4.3
    Netherlands: 4.7
    Poland: 5.8
    Portugal: 11.5
    Romania: 13.9
    Sweden: 5.3

In [54]:
print(
    f'''
    Brazil: {df.loc['2019 [YR2019]']["Brazil"]}
    Russia: {df.loc['2019 [YR2019]']["Russian Federation"]}
    India: {df.loc['2019 [YR2019]']["India"]}
    China: {df.loc['2019 [YR2019]']["China"]}
    South Africa: {df.loc['2019 [YR2019]']["South Africa"]}
    '''
)

    Brazil: 23.5
    Russia: 6
    India: ..
    China: ..
    South Africa: 44.9

In [55]:
uniao_europeia = ['Germany', 'Austria', 'Belgium', 'Bulgaria', 'Czech Republic', 'Cyprus', 'Croatia', 'Denmark', 'Slovak Republic', 'Slovenia', 'Spain', 'Estonia', 'Finland', 'France', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Sweden']

total = len(uniao_europeia)
avancado = 0
media_mundial = float(df.loc['2019 [YR2019]']["World"])
print(media_mundial)
avancados_uniao_europeia = []

for pais in uniao_europeia:
    if df.loc['2019 [YR2019]'][pais] != '..':
        if float(df.loc['2019 [YR2019]'][pais]) <= media_mundial:
            avancado +=1
            avancados_uniao_europeia.append(pais)

p = (avancado/total)*100
print(f'Porcentagem União Europeia: {p:.2f}%')
print(avancados_uniao_europeia)

27.6
Porcentagem União Europeia: 96.30%
['Germany', 'Austria', 'Belgium', 'Bulgaria', 'Czech Republic', 'Croatia', 'Denmark', 'Slovak Republic', 'Slovenia', 'Spain', 'Estonia', 'Finland', 'France', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Sweden']

In [56]:
BRICS = ['Brazil', 'Russian Federation', 'India', 'China', 'South Africa']

total = len(BRICS)
avancado = 0
avancados_BRICS = []

for pais in BRICS:
    if df.loc['2019 [YR2019]'][pais] != '..':
        if float(df.loc['2019 [YR2019]'][pais]) <= media_mundial:
            avancado +=1
            avancados_BRICS.append(pais)

p = (avancado/total)*100
print(f'Porcentagem BRICS: {p:.2f}%')
print(avancados_BRICS)

Porcentagem BRICS: 40.00%
['Brazil', 'Russian Federation']

In [57]:
from numpy import NaN


todos_paises = df.columns
todos_paises.dropna()
total = len(todos_paises)

filtro = df.loc['2019 [YR2019]'] != '..' 
possui_dados = df.loc['2019 [YR2019]'][filtro]

filtro = possui_dados != 'Nan'
possui_dados = possui_dados[filtro]


possui_dados.dropna()
possui_dados

Country Name
East Asia & Pacific                              10.2
East Asia & Pacific (excluding high income)      10.8
Europe & Central Asia                            10.4
Europe & Central Asia (excluding high income)    16.3
High income                                       7.6
                                                 ...
NaN                                               NaN
NaN                                               NaN
NaN                                               NaN
NaN                                               NaN
NaN                                               NaN
Name: 2019 [YR2019], Length: 142, dtype: object